
.main-heading{
    color: #e7e7e7fa;
    font-size: 45px;
    padding-bottom: 10px;
}
.all-Courses h1{
    color: #333333;
    text-align: center;
}

.carousel img{
    height: 550px;
}
.slider-img{
    height: 550px !important;
 
}
