
/* here set home page css style */
.backgrund-img {
    background-image: url(../../../src/images/about.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 550px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.main-heading{
    color: #ffffff;
    font-size: 45px;
}
.all-Courses h1{
    color: #333333;
    text-align: center;
}
.Course-heading{
    text-align: center;
    padding-bottom: 40px;
}

.main-heading{
    margin-top: 80px;
}

