/* our team page style here */
.our-team {
    background-color: #fcfcfc;
}

.our-team img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-team h4 {
    margin-top: 10px;
}